<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30" packages="de.infinityprojects.mcserver.utils.log">
    <Properties>
        <Property name="CONSOLE_LOG_PATTERN">%style{[%d{HH:mm:ss}]}{default} %highlight{%-5p}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green,
            DEBUG=bright_blue bold, TRACE=blue} %clp{%m}%n
        </Property>
        <Property name="FILE_LOG_PATTERN">[%d{dd/MM/yyyy HH:mm:ss}] %clr{%-5p [%t] (%c{2}): %m}%n</Property>
    </Properties>

    <Appenders>
        <TerminalConsole name="console">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
        </TerminalConsole>
        <RollingFile name="file-log" fileName="logs/latest.log"
                     filePattern="logs/%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="logs/*.log" />
                    <IfLastModified age="30d" />
                    <IfAccumulatedFileSize  exceeds="1GB" />
                    <IfAccumulatedFileCount exceeds="30" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="debug-log" fileName="debug/latest-debug.log"
                     filePattern="debug/debug-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="debug" maxDepth="1">
                    <IfFileName glob="debug/*.log" />
                    <IfLastModified age="5d" />
                    <IfAccumulatedFileSize  exceeds="1GB" />
                    <IfAccumulatedFileCount exceeds="10" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" level="info"/>
            <AppenderRef ref="file-log" level="info"/>
            <AppenderRef ref="debug-log" level="debug"/>
        </Root>
    </Loggers>
</Configuration>